* {
	font-family: arial;
	margin: 0;
}

body > div {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}


h2, h3, h4, li, p {
	padding: 12px
}

p {
	padding-top: 0
}

header {
	background: #00689d;
	color: white;
	height: 20%;
	text-align: center;
}

header h1 {
	padding: 24px
}

header a {
	color: inherit;
	text-decoration: none;
}

nav {
	background-color: #00547f;
	color: white;
}

nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	border: none;
	border-top: 1px solid gray;
	max-width: 50%;
	margin: auto;
}

footer p {
	text-align: center;
	color: grey;
	padding-top: 16px;
}

.xadrez_imagens {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	padding: 8px;
}

.xadrez_imagens > * {
	flex: auto
}

.xadrez_imagens a {
	background-position: center;
	background-size: cover;
	border-radius: 4px;
	height: 240px;
	position: relative;
}

.xadrez_imagens a > section {
	position: absolute;
	bottom: 0;
}

.xadrez_imagens a > section > * {
	padding-top: 0;
	color: white;
}

/*----> styles_Dione <----*/
.h2d {
	font-size: 30px;
    text-align: center;
    margin-bottom: 15px; 
    margin-top: 30px;    
	font-family: Arial, Helvetica, sans-serif;
	padding: 15px;
}

.h3d {
	font-size: 24px;
    margin-bottom: 10px; 
    margin-top: 20px;    
    margin-left: 20px;
    padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

.pd {
	color: black;
	font-size: 16px;
	padding: 4px;
	font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.caixa-destaqued {
	
	background-color: #c7d5e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    line-height: 1.5;
    text-align: left;
    opacity: 1;
    margin-top: 30px;
	align-items: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 500px;
	background-image: url('https://raw.githubusercontent.com/ZioniEnrico/pas/refs/heads/main/Imagens/logo.png');
}

.imagerefd {
    
    width: 100%;
    height: auto; 
    max-width: 860px;
}
	
.btn a:hover{
	background-color: #ffffff;
	color: rgb(24, 60, 219)
}

.logod{
	opacity: 9;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 500px;
	background-image: url('https://raw.githubusercontent.com/ZioniEnrico/pas/refs/heads/main/Imagens/logo.png');
}