/* --- Reset e fonte padrão --- */
* {
	font-family: arial;
	margin: 0;
}

/* --- Estrutura e layout principal --- */
body > main > article {
	border-radius: 8px;
	box-shadow: 4px 4px 8px gray;
	padding: 16px;
	margin: 10px;
	background: #eef7fff0;
}

/* --- Sumário e tipografia --- */
summary {
	font-weight: bold
}

h2, h3, h4, li, p, img, summary {
	padding: 12px
}

/* --- Parágrafos --- */
article p {
	padding-top: 0;
	text-indent: 24px;
	text-align: justify;
	text-justify: inter-word;
}

/* --- Imagens gerais --- */
img {
	box-sizing: border-box;
	width: 100%;
	border-radius: 18px;
}

/* --- Cabeçalho (header) --- */
header {
	background: #0c6aa0;
	color: white;
	height: 20%;
	text-align: center;
}

header img {
	max-width: 900px
}

header a {
	color: inherit;
	text-decoration: none;
}

/* --- Navegação (menu) --- */
nav {
	background-color: #00547f;
	color: white;
}

nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* --- Rodapé (footer) --- */
footer p {
	text-align: center;
	color: grey;
	padding-top: 16px;
}

/* --- Galeria Xadrez de Imagens --- */
.xadrez_imagens {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	padding: 8px;
}

.xadrez_imagens > * {
	flex: auto
}

.xadrez_imagens a {
	background-position: center;
	background-size: cover;
	border-radius: 4px;
	height: 240px;
	position: relative;
}

.xadrez_imagens a > section {
	position: absolute;
	bottom: 0;
}

.xadrez_imagens a > section > * {
	padding-top: 0;
	color: white;
}

/* --- Ícones --- */
.icones {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start ;
	gap: 15px;
}

.icones > a {
	flex: auto
}

.icones > a > img {
	object-fit: contain;
	height: 64px;
}

.icones > a:hover {
	background-image: linear-gradient(to bottom, rgba(245, 245, 220, 0) 0%, rgb(255, 255, 255) 100%);
	opacity: 75%;
	border-radius: 10px;
}

/* --- Seção de Objetivos --- */
.objetivos {
	display: flex;
	flex-flow: wrap;
	gap: 16px;
}

.objetivos > section {
	flex: 48%;
	background-color: #e5f2ff;
	border-radius: 10px;
}

.objetivos > section > div {
	display: flex;
}

.objetivos > section > div > img {
	width: 100px;
	height: 100px;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 18px;
}

.objetivos > section > section {
	margin: 8px;
	padding: 4px;
	background-color: #f1f8ff;
	border-radius: 6px;
}

.objetivos > section > section > h4 {
	text-align: center
}

.objetivos > section > section > details {
	margin: 8px;
	background-color: #e5f2ff;
	border-radius: 6px;
}

/* --- Classe de ajuste de largura --- */
.tamanho {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

/* --- Responsividade --- */
@media (max-width: 900px) {
	body > div {
		padding: 10px;
	}
	.icones > a > img {
		height: 48px;
	}
}