#objetivos {
	width: 500px;
	background-image:
		linear-gradient(0deg, #00000090 5%, transparent),
		url('imagens/objetivos.png')
}

#iniciativas {
	width: 300px;
	background-image:
		linear-gradient(0deg, #00000090 5%, transparent),
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Comisi%C3%B3n_Ejecutiva_para_el_Cumplimiento_de_la_Agenda_2030_-i---i-_%2834957419810%29.jpg/960px-Comisi%C3%B3n_Ejecutiva_para_el_Cumplimiento_de_la_Agenda_2030_-i---i-_%2834957419810%29.jpg')
}

#projetos_futuros {
	width: 300px;
	background-image:
		linear-gradient(0deg, #00000090 5%, transparent),
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Secretary_of_the_Interior_Deb_Haaland_traveled_to_New_York_City_to_represent_the_United_States_at_the_United_Nation%E2%80%99s_23rd_Permanent_Forum_on_Indigenous_Issues_on_15_April_2024_-_6.jpg/960px-thumbnail.jpg')
}

#brasil {
	width: 500px;
	background-image:
		linear-gradient(0deg, #00000090 5%, transparent),
		url('imagens/brasil.png')
}

#envolvidos {
	width: 900px;
	background-image:
		linear-gradient(0deg, #00000090 5%, transparent),
		url('imagens/envolvidos.png')
}